iframe{
 background-color: rgb(225,2,2);
}
h1 {
  color: black;
  text-align: center;
  font-family: 'Press Start 2P', cursive;
}
h2 {
  color: black;
  text-align: center;
  font-family: 'Press Start 2P', cursive;
}
body{
  text-align: center;
}
div{
  background-color: red;
  padding-top: 10px;
  padding-right: 50px;
  padding-bottom: 10;
  padding-left: 50px;
  text-align: center;
}
.contact_youtube{
  float: center;
  width: 100%;
}
.contact_insta{
  float: center;
  width: 100%;
}